.button {
  cursor: pointer;
  width: 300px;
  height: 40px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background: transparent;
  text-transform: uppercase;
  color: var(--primary-color);

  &.outlined {
    border: 1px solid var(--primary-color);
  }

  &.contained {
    background: var(--primary-color);
    color: var(--white-color);
  }

  &.small {
    width: 100px;
    height: unset;
    padding: 5px 7px;
  }

  &.medium {
    width: 150px;
    height: unset;
    padding: 5px 7px;
  }

  &.fullWidthStyle {
    width: 100%;
  }
}